conf dir
config
crash-reports
expnoise
libs
logs
mods
partially 1.10 src
MinecraftForge-License.txt
README.txt
resourcepacks
saves
screenshots
build
eclipse
options.txt
usernamecache.json
.gradle/2.14/taskArtifacts/cache.properties.lock
.idea
usercache.json
.gradle
